body { background: #c1f513; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 49px; display: flex; }
.block-product-0 { color: #5a5161; font-size: 21px; margin-bottom: 5px; }
.block-search-1 { color: #6fcafa; font-size: 13px; margin-bottom: 5px; }
.block-cart-2 { color: #af6c66; font-size: 15px; margin-bottom: 5px; }
.block-router-3 { color: #13510d; font-size: 12px; margin-bottom: 5px; }
.block-token-4 { color: #3c401c; font-size: 15px; margin-bottom: 5px; }